@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../../../resources/css/app.css';
@import 'tailwindcss';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
@source '../../../../vendor/awcodes/light-switch/resources/**/*.blade.php';
@source '../../../../vendor/wire-elements/**/*.blade.php';


.fi-body {
    &.fi-body-has-top-navigation, &:not(.fi-body-has-navigation) {
        & .fi-main-ctn {
            display: flex;
            min-height: calc(100dvh - 12rem);
        }
    }
}

.fi-page-header-main-ctn {
    display: flex;
    flex-direction: column;
    row-gap: calc(var(--spacing) * 2);
    padding-block: calc(var(--spacing) * 2);
}
