@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../../../resources/css/app.css';
@import 'tailwindcss';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
